
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Be vietnam pro; 
    
}

body{
    width: 98vw;
}

/*--------------------header--------------------*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:1%;
    width:98%;
}  
    

header ul{
    display: flex;
}

ul li{
    cursor: pointer;
    padding: 20px;
}

header ul li:hover{
    color: rgb(143, 148, 167);
}


.hamburguesa{
    display:none
}

button {
    background-color: rgb(242, 95, 58);
    border: none;
    width: 134px;
    height: 44px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 5px rgba(242, 95, 58,0.2);  
}

button:hover{
    background-color: rgb (242, 95, 58);
    opacity: 0.5;
}

.hamburgesa{
    display: none;
}


/*------------main---------------*/


main{
    width: 97vw;
}

/*contenedor 1 building*/

section.building{
    width: 100%;
    max-width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1% 1%   
}

section.building div:nth-child(1) {
    width: 50%;
}

.imagen img{
    width: 100%;
}

.building h1{
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    color:rgb(35, 44, 81);
    padding:0px 125px 0px 0px;
}

.building p{
    width: 350px;
    font-size: 17px;
    margin: 20px 0px;
    line-height: 26px;
}


/*contenedor 2 Manage*/

section.Manage{
    display: flex;
    width: 95wh;
}

section.Manage article{
  width: 50vw;
}

section.Manage article.izquierda h2 {
    margin-left: 70px;
    color:rgb(35, 44, 81);
    font-size: 41px;
    margin-bottom: 20px;
    
}

section.Manage article.izquierda p {
    width: 337px;
    color: black;
    font-size: 16px;
    line-height: 26px;
    margin-left: 70px;   
}

article div{
    width: 100%;
}

article div h3:nth-child(1)::before {
    content: "01";
    background-color: rgb(242, 95, 58);
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    margin:10px 20px 10px 10px;
    color:white;
    line-height: 40px;
}

article div h3:nth-child(4)::before {
    content: "02";
    background-color: rgb(242, 95, 58);
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    margin:10px 20px 10px 10px;
    color:white;
    line-height: 40px
}

article div h3:nth-child(7)::before {
    content: "03";
    background-color: rgb(242, 95, 58);
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    margin:10px 20px 10px 10px;
    color:white;
    line-height: 40px;
}

article div p{
    color: #B3B2B7;
    line-height: 26px;
    margin: 20px 10px 20px 100px;
    line-height: 30px;
    width:75%
}



article  button{
    width: 69px;
    height: 43px;
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;    
}

article  h3{
    color: rgb(35, 44, 81);
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
}


/*main parte tres- las cards*/

section.cards{
    height:564px;   
}

section.cards h2{
    font-size: 39px;
    text-align: center;
    margin: 50px;
}

section div.cards{
    display: flex;
    text-align: center;
    display: flex;
    margin: 0px;
}

section div.cards article{
    width: 100%;
    margin-left: 0px;
    text-align: center;    
}

section div.cards article img{
    width: 20%
}
section div.cards article h4{
    color: rgb(35, 44, 81);
    margin: 2%
}
section div.cards article p{
    color: #B9B9C1;
    margin: 2%;
    padding: 2%;
    line-height: 26px;
}

section.cards div.botom{
    text-align: center;
    height: 100px;
    
}

section.cards div.botom img{
    display: none;
    position: relative;
    left: 40%;
    margin-bottom: 27px;
}


/*main parte 4 naranjada*/

div.naranjada{
    background-color: rgb(242, 95, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 280px;
    margin-top: 2%;
}

div.naranjada h2{
    font-size: 40px;
    color: white;
    width: 40%;
    margin:10%;
}

div.naranjada button{
    background-color: white;
    color: rgb(242, 95, 58);
    margin-right: 10%;
    
}


/*-------------footer---------------------- */

footer{
    background-color: black;
    width: 100vw;
    height: 242px;
     
}

footer div.parteuno{
    display: flex;
    justify-content: space-evenly;
    height: 80%; 
}

div.primeracaja{
    width: 25%;
    margin: 1% 1% 1% 10%;
    display: flex;
    flex-direction: column;
}


div.primeracaja div:nth-child(1){
    line-height: 20px;
    margin:6%;   
}



div.primeracaja i{
    background-color: black;
    color: white;
    margin:3%; 
}

div.primeracaja i:hover{
    cursor: pointer;
    color:rgb(242, 95, 58)
}


footer ul li{
    color: white;
    padding: 10px;
}

footer ul li:hover{
    cursor: pointer;
    color: rgb(242, 95, 58)
}


.menufooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
   

        /*formulario*/

div.formulario{
    margin:3% 1% 3% 5%;
}

form{
    width:260px;
}

div.formulario form input{
    width: 68%;
    height: 44px;
    border-radius: 50px;
}

div.formulario form button{
    width: 25%;
    border-radius: 20px;
}

div.ultima{
    width: 100%;
    display: flex;
    justify-content: end;
}
div.ultima p{
    color: white;
    height: 20px;
    font-size: 10px;
    background-color: black;
    padding: 1%;
}


@media screen and (max-width: 375px){

    body{
        width: 100%;      
    }

    header{
        display: flex;
        justify-content: space-between;
        width: 90vw;
        margin: 6%;
    }

    header nav{
        display: none;  
    }

    header button{
        display: none;
    }

    .hamburguesa{
        display: block;
    }

    main section.building{
        width: 100%;
        display: flex;   
        flex-direction: column-reverse;     
    }

    main section.building div:nth-child(1){
        text-align: center;
        justify-content: center;
        width: 90vw;
    }

    main section.building div:nth-child(2){
        display: none;
        width: 100%;
    }

    main section.building h1{
        width:100%;
        font-size: 50px;
        padding: 0 !important;
    }

    main section.building p{
    width: 100%;
    }

    /*section Manage*/
    section.Manage{
        flex-wrap: wrap;
        width: 100%;
    }

    section.Manage .izquierda h2 {
        font-size: 40px;
        margin-left: 3px !important;
        width:90vw
    }

    section.Manage article p {
        width: 90vw;
        margin-left: 15px !important;
    }

    section.Manage article{
        width: 100%;
        margin: 30px 1px;
    }

    article.izquierda{    
        text-align: center;  
    }

    article div h3 {
        background-color: rgb(255, 239, 234);
        width: 90vw; 
        border-radius:  20px 0px 0px 20px;  
    }

    .cards article:nth-child(1){
        display:none
    }

    .cards article:nth-child(3){
        display:none
    }

    div.naranjada{   
        flex-direction: column;    
        padding:2%;
    }

    div.naranjada h2{
        width: 99%;
        text-align: center;
        
    }

    section.cards div.botom img{
        display: block;
    }

    /*footer*/

    footer{
        height: 520px;
    }

    .parteuno{
        flex-direction: column-reverse;
        height: 90% !important;
        
    }

    .primeracaja{
        width: 80vw !important;
    }

    .primeracaja div:nth-child(1){
        display: flex;
        order:1;
    }

    div.ultima{
        justify-content: center;
    }

}









    


